.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-email {
  width: 60%;
  margin: 1% 0;
  padding: 1%;
}
.login-password {
  width: 60%;
  padding: 1%;
}
.login-email:valid, .login-password:valid {
  color: #2ecc71;
}
.login-email:invalid, .login-password:invalid {
  color: #c0392b;
}
.login-submit {
  width: 20%;
  margin: 1% 0;
  padding: 1%;
  color: #2980b9;
  border: solid #2980b9 1px;
}
.sign-up {
  font-size: 0.6vw;
}
